@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@custom-variant aria-page (&[aria-current="page"]);

@theme {
  --font-display: "Bricolage Grotesque", sans-serif;
}

body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: 400;
  font-style: normal;
  line-height: var(--leading-tight);
  background: var(--color-white);
  color: var(--color-neutral-600);
}

.md-editor p {
  font-family: var(--font-serif);
  font-size: var(--text-xl);
  line-height: var(--leading-relaxed);
}

.md-editor h1,
.md-editor h2,
.md-editor h3,
.md-editor h4,
.md-editor h5,
.md-editor h6 {
  font-family: var(--font-display);
  line-height: 1.1;
  margin-top: 2.5rem;
  color: var(--color-neutral-900);
  text-wrap: pretty;
}

.md-editor h1,
.md-editor h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.md-editor h1 {
  font-size: var(--text-6xl);
  font-weight: 800;
}

.md-editor h2 {
  font-size: var(--text-4xl);
  font-weight: 700;
}

.md-editor h3 {
  font-size: var(--text-3xl);
  font-weight: 700;
}

.md-editor h4,
.md-editor h5,
.md-editor h6 {
  font-size: var(--text-2xl);
  font-weight: 700;
}

.md-editor blockquote {
  border-left: 3px solid red;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.md-editor hr {
  border: none;
  border-top: 1px solid var(--color-neutral-200);
  margin: 2rem 0;
}

.md-editor a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.md-editor .md-editor__placeholder.is-editor-empty:first-child::before {
  font-family: var(--font-serif);
  font-weight: 400;
  content: attr(data-placeholder);
  float: left;
  color: var(--color-neutral-400);
  pointer-events: none;
  height: 0;
}

.md-editor pre {
  background: var(--color-neutral-700);
  color: var(--color-white);
  font-family: "JetBrainsMono", monospace;
  padding: 32px;
  border-radius: 0.5rem;
}
.md-editor pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
  line-height: 1.7;
}

.md-editor .hljs-comment,
.md-editor .hljs-quote {
  color: #616161;
}

.md-editor .hljs-variable,
.md-editor .hljs-template-variable,
.md-editor .hljs-attribute,
.md-editor .hljs-tag,
.md-editor .hljs-name,
.md-editor .hljs-regexp,
.md-editor .hljs-link,
.md-editor .hljs-name,
.md-editor .hljs-selector-id,
.md-editor .hljs-selector-class {
  color: #f98181;
}

.md-editor .hljs-number,
.md-editor .hljs-meta,
.md-editor .hljs-built_in,
.md-editor .hljs-builtin-name,
.md-editor .hljs-literal,
.md-editor .hljs-type,
.md-editor .hljs-params {
  color: #fbbc88;
}

.md-editor .hljs-string,
.md-editor .hljs-symbol,
.md-editor .hljs-bullet {
  color: #b9f18d;
}

.md-editor .hljs-title,
.md-editor .hljs-section {
  color: #faf594;
}

.md-editor .hljs-keyword,
.md-editor .hljs-selector-tag {
  color: #70cff8;
}

.md-editor .hljs-emphasis {
  font-style: italic;
}

.md-editor .hljs-strong {
  font-weight: 700;
}
